<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<h1 th:text="'Welcome '+ ${user.username}"></h1>
<img th:src="@{https://cdn-icons-png.flaticon.com/512/149/149071.png}"/>
<ul  >

    <li th:text="'User Name: ' + ${user.username}"></li>
    <li th:text="'First Name: ' + ${user.firstName}"></li>
    <li th:text="'Last Name: ' + ${user.lastName}"></li>
    <li th:text="'Date Of Birth: ' + ${user.dateOfBirth}"></li>
    <li th:text="'Biography: ' + ${user.bio}"></li>


</ul>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>