<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div><img th:src="@{https://cdn-icons-png.flaticon.com/512/149/149071.png}"/></div>
<div>
    <a th:href="${'/feed'}"><button >Go Back To Your Feed Page</button> </a></div>
<a th:href="${'/profile'}"><button >Go Back To Your Profile</button> </a>
<form th:method="post" th:action="@{'/follow?username='+${user.getUsername()}}">
    <div> <button type="submit" >Follow</button> </div>
</form>
<ul>

    <li th:text="'User Name: ' + ${user.username}"></li>
    <li th:text="'First Name: ' + ${user.firstName}"></li>
    <li th:text="'Last Name: ' + ${user.lastName}"></li>
    <li th:text="'Date Of Birth: ' + ${user.dateOfBirth}"></li>
    <li th:text="'Biography: ' + ${user.bio}"></li>


</ul>
<div>
    <h4>Posts</h4>
    <div th:each="post:${user.posts}">
        <h5 th:text="${'post' + post.createdAt}"></h5>
        <p  th:text="${post.body}"></p>
    </div>
</div>

</body>
</html>